/* background image */
#about {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 545px;
}

/* grid and margin layout */
.about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

/* bio text container formatting */
.bio {
    border: 2px solid #555;
    border-radius: 10px;
    padding: 5%;
    background: rgba(255, 255, 255, 0.75);
    text-align: left;
    margin: auto;
}

/* adds shadow on hover */
.bio:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bio h1 {
    margin: 0;
}

.bio h3 {
    color: #555;
}

/* centers photo */
.bio-photo {
    margin: auto
}

.bio-photo img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    /* stacks content on mobile instead of grid */
    .about-grid {
        display: block;
    }

    /* .bio-photo {
        width: 75%;
    } */

    #about {
        height: 100%;
    }
}

@media screen and (min-width: 601px) {
    /* hides break tags on desktop - used as spacers on mobile */
    #about br {
        display: none;
    }
}