@import url("./About.css");
@import url("./Intro.css");
@import url("./Projects.css");
@import url("./Work.css");
@import url("./Skills.css");
@import url("./Nav.css");

html {
  text-align: center;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.container {
  padding: 1%;
}

@media screen and (max-width: 600px) {
  .container {
    padding-left: 3%;
    padding-right: 3%;
  }
}