/* fixed nv bar */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.75);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

/* left aligned home link */
#left {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
}

/* right aligns rest of nav links */
.menu-links {
    text-align: right;
}

.menu-links li {
    display: inline-block;
}

/* sets nav links to be inline */
.menu-links li a {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* menu icon for mobile */
#menu {
    padding: 7px 8px;
    color: #333;
    display: block;
    cursor: pointer;
    float: right;
}

/* change color with transition effect on hover */
.nav li a:hover, .dropdown:hover .dropbtn, #left:hover {
    background-color: #555;
    color: white;
    transition: all .5s ease 0s;
}

/* dropdown content hidden */
.dropdown-content {
    display: none;
    position: fixed;
    background: rgba(255, 255, 255, 0.75);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* MOBILE */
@media screen and (max-width: 600px) {
    /* hides menu links on mobile */
    .menu-links {
        display: none;
        margin-top: 46px;
    }

    /* stacks menu links */
    .menu-links li {
        float: none;
        display: block;
    }

    /* makes mobile menu links full width and left aligns text */
    .menu-links li a {
        width: 100%;
        text-align: left;
    }

    /* adds space below Projects for dropdown options on click */
    /* .dropdown:hhover {
        margin-bottom: 138px;
    }

    .dropdown:hhover .dropdown-content, .dropdown:hhover .dropdown-content a {
        display: block;
        width: 100%;
    } */
}

/* TABLET/DESKTOP */
@media only screen and (min-width: 601px) {
    /* hides mobile menu icon on tablet */
    #menu {
        display: none;
    }

    /* resets desktop menu to appear if resizing window */
    .menu-links {
        display: block!important;
    }

    /* show dropdown content on hover */
    .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content a {
        display: block;
    }
}

/* DESKTOP */
/* @media screen and (min-width: 768px) { */
    /* hides mobile menu icon on desktop */
    /* #menu {
        display: none;
    } */

    /* show dropdown content on hover */
    /* .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content a {
        display: block;
    }
} */