/* background images */
#booked {
    height: 115vh;
    background: url('https://images.unsplash.com/photo-1558346648-9757f2fa4474?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 813px;
}

#set-game {
    height: 115vh;
    background: url('https://images.unsplash.com/uploads/14114640960629b5c3fa0/116dc05a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 813px;
}

#plant-nanny {
    height: 115vh;
    background: url('https://images.unsplash.com/photo-1533119408463-b0f487583ff6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2900&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 813px;
}

/* centers slider/carousel */
.slider {
    margin: auto;
}

.tech {
    list-style-type: none;
    padding: 0;
}

/* styles tech icon/labels */
.tech li {
    display: inline-block;
    background-color: #555;
    color: white;
    padding: 8px;
    margin: 5px;
    font-size: 12px;
    border-radius: 3px;
    text-transform: uppercase;
}

.tech li:hover {
    background-color: #333;
    transition: all .3s ease;
}

.view-buttons {
    list-style-type: none;
    padding: 0;
}

/* styles view buttons */
.view-buttons a {
    display: inline-block;
    padding: 8px 12px;
    border: 2px solid #555;
    border-radius: 3px;
    text-transform: uppercase;
    margin: 5px;
    font-weight: 500;
    text-decoration: none;
    color: #555;
}

.view-buttons a:hover {
    background: #555;
    color: white;
    transition: all .3s ease;
}

/* mimics pushing a button via animation */
.view-buttons a:active {
    transform: translateY(5px);
}

@media screen and (max-width: 600px) {
    /* makes slider/carousel full width */
    .slider {
        width: 100%!important;
    }

    #booked, #set-game, #plant-nanny {
        height: 100%;
    }

    /* stacks view buttons */
    .view-buttons a {
        display: block;
        width: 40%;
        margin: auto;
        margin-bottom: 10px;
    }

    /* add white background to view buttons since some overlap with background */
    .view-buttons a {
        background: rgba(255, 255, 255, 0.75);
    }
}