#skills {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1506269996138-4c6d92fbd8a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2750&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 625px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    text-align: left;
    margin: 1%;
}

.skills-grid div {
    padding: 3%;
}

.skills-grid h2 {
    padding-left: 2%;
    text-transform: uppercase;
    color: #555;
    font-weight: 500;
}

.skills-items {
    list-style-type: none;
    padding: 0;
    margin: 3%;
}

.skills-items li {
    display: inline-block;
    background-color: #555;
    color: white;
    padding: 10px;
    margin: 15px;
    border-radius: 50%;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    line-height: 6;
}

.skills-items li:hover {
    background-color: #333;
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    transition: all 0.8s ease-in-out;
    transform-origin: center;
}