body {
  text-align: center;
}

.teal {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1551043047-1d2adf00f3fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tiles {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.marble {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1558346648-9757f2fa4474?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dark-teal {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1553949333-0510da388b82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.plants {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3000&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.purple {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1506269996138-4c6d92fbd8a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2750&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.water {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1483004406427-6acb078d1f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.leaves {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1425736317462-a103b1303a35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pink {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1568738351265-c7065f5d4293?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2734&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.books {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1524169358666-79f22534bc6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.shapes {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* h1 {
  margin-top: 0;
} */